window {
    margin: 0px;
    /* background-color: #191724; */
    background-color: rgba(0.19, 0.17, 0.24, 0.6);
    /* border-radius: 8px; */
    /* border: 1px solid #eb6f92; */
    color: #e0def4;
    font-family: 'JetBrainsMono Nerd Font Mono';
    font-size: 14px;
}

#input {
    margin: 5px;
    border-radius: 0px;
    border: none;
    border-radius: 0px;;
    color: #eb6f92;
    /* background-color: #26233a; */
    background-color: rgba(0.26, 0.23, 0.39, 0.8);
    
}

/* #inner-box { */
/*     margin: 5px; */
/*     border: none; */
/*     background-color: #26233a; */
/*     color: #191724; */
/*     border-radius: 0px; */
/* } */
/**/
/* #outer-box { */
/*     margin: 15px; */
/*     border: none; */
/*     background-color: #191724; */
/* } */

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #e0def4;
} 

#entry:selected {
    background-color: #eb6f92;
    color: #191724;
    border-radius: 0px;;
    outline: none;
}

#entry:selected * {
    background-color: #eb6f92;
    color: #191724;
    border-radius: 0px;;
    outline: none;
}
/* #window { */
/*     background-color: transparent; */
/*     border-radius: 15px; */
/*     font-family: sans-serif; */
/*      font-size: 14px; */
/**/
/* } */
/**/
/**/
/**/
/* #outer-box { */
/*     margin: 15px; */
/*     border-radius: 15px; */
/*     background-color: rgba(0, 0, 0, 0.9); */
/*     box-shadow: 0px 0px 5px 0 #0F0F0F; */
/* } */
/**/
/* #inner-box { */
/*     color: #d8dee9; */
/*     padding: 10px; */
/*     padding-top: 5px; */
/* } */
/**/
/* #input { */
/*     color: #e5e9f0; */
/*     border: 2px solid #5e81ac; */
/*     background-color: #4c566a; */
/*     padding: 6px; */
/*     margin: 15px; */
/*     margin-bottom: 0px; */
/*     font-size: 16px; */
/*     border-radius: 5px; */
/* } */
/**/
/* #entry { */
/*     border-radius: 5px; */
/*     padding: 7px; */
/*     margin: 0px 5px 0px 5px; */
/* } */
/**/
/* #entry:selected { */
/*     background-color: #5e81ac; */
/* } */
/**/
/* #text:selected { */
/*     color: #d8dee9; */
/* } */
/**/
/* #text { */
/*     font-size: 16px; */
/*     padding: 7px; */
/*     color: #d8dee9; */
/* }  */
/**/
/* #img { */
/*     padding: 4px; */
/* } */
/**/
